/* line 3, ../sass/arrow-icons.sass */
.icon-size, .feather-arrow-down-left, .feather-arrow-down-right, .feather-arrow-left, .feather-arrow-right, .feather-arrow-up-left, .feather-arrow-up-right, .feather-arrow-up, .feather-chevron-down, .feather-chevron-left, .feather-chevron-right, .feather-chevron-up, .feather-chevrons-down, .feather-chevrons-left, .feather-chevrons-right, .feather-chevrons-ip {
  display: inline-block;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

/* line 10, ../sass/arrow-icons.sass */
.feather-arrow-down-left {
  background: url('/images/icons/arrows/arrow-down-left.svg');
  background-size: 16px 16px;
}

/* line 16, ../sass/arrow-icons.sass */
.feather-arrow-down-right {
  background: url('/images/icons/arrows/arrow-down-right.svg');
  background-size: 16px 16px;
}

/* line 21, ../sass/arrow-icons.sass */
.feather-arrow-left {
  background: url('/images/icons/arrows/arrow-left.svg');
  background-size: 16px 16px;
}

/* line 26, ../sass/arrow-icons.sass */
.feather-arrow-right {
  background: url('/images/icons/arrows/arrow-right.svg');
  background-size: 16px 16px;
}

/* line 31, ../sass/arrow-icons.sass */
.feather-arrow-up-left {
  background: url('/images/icons/arrows/arrow-up-left.svg');
  background-size: 16px 16px;
}

/* line 36, ../sass/arrow-icons.sass */
.feather-arrow-up-right {
  background: url('/images/icons/arrows/arrow-up-right.svg');
  background-size: 16px 16px;
}

/* line 41, ../sass/arrow-icons.sass */
.feather-arrow-up {
  background: url('/images/icons/arrows/arrow-up.svg');
  background-size: 16px 16px;
}

/* line 46, ../sass/arrow-icons.sass */
.feather-chevron-down {
  background: url('/images/icons/arrows/chevron-down.svg');
  background-size: 16px 16px;
}

/* line 51, ../sass/arrow-icons.sass */
.feather-chevron-left {
  background: url('/images/icons/arrows/chevron-left.svg');
  background-size: 16px 16px;
}

/* line 56, ../sass/arrow-icons.sass */
.feather-chevron-right {
  background: url('/images/icons/arrows/chevron-right.svg');
  background-size: 16px 16px;
}

/* line 61, ../sass/arrow-icons.sass */
.feather-chevron-up {
  background: url('/images/icons/arrows/chevron-up.svg');
  background-size: 16px 16px;
}

/* line 66, ../sass/arrow-icons.sass */
.feather-chevrons-down {
  background: url('/images/icons/arrows/chevrons-down.svg');
  background-size: 16px 16px;
}

/* line 71, ../sass/arrow-icons.sass */
.feather-chevrons-left {
  background: url('/images/icons/arrows/chevrons-left.svg');
  background-size: 16px 16px;
}

/* line 76, ../sass/arrow-icons.sass */
.feather-chevrons-right {
  background: url('/images/icons/arrows/chevrons-right.svg');
  background-size: 16px 16px;
}

/* line 81, ../sass/arrow-icons.sass */
.feather-chevrons-ip {
  background: url('/images/icons/arrows/chevrons-ip.svg');
  background-size: 16px 16px;
}
