/* line 6, ../sass/butt-on.sass */
button {
  background: none;
  border: none;
  letter-spacing: 1.5px;
  font-size: 12px;
}
/* line 7, ../sass/butt-on.sass */
button:focus {
  outline: 0 !important;
}

/* line 14, ../sass/butt-on.sass */
.butt-on {
  box-sizing: border-box;
  padding: 12px 16px;
  background: #FFFFF7;
  color: #282830;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: box-shadow ease 500ms;
  transition: box-shadow ease 500ms;
}
/* line 23, ../sass/butt-on.sass */
.butt-on:hover {
  -webkit-box-shadow: 0px 0px 8px 0px #002000;
  -moz-box-shadow: 0px 0px 8px 0px #002000;
  box-shadow: 0px 0px 8px 0px #002000;
  -webkit-transition: box-shadow ease 500ms;
  transition: box-shadow ease 500ms;
  cursor: pointer;
}

/* line 28, ../sass/butt-on.sass */
.med {
  padding: 16px 36px;
}

/* line 31, ../sass/butt-on.sass */
.lg {
  padding: 22px 54px;
}

/* line 34, ../sass/butt-on.sass */
.primary, .blu {
  background-color: #E01931;
  color: #FFFFF7;
}

/* line 38, ../sass/butt-on.sass */
.secondary {
  background-color: #27AE60;
  color: #FFFFF7;
}

/* line 42, ../sass/butt-on.sass */
.blu {
  background-color: #1136C7;
}
