/* line 3, ../sass/communication-icons.sass */
.icon-size, .feather-mail, .feather-message-circle, .feather-message-square, .feather-phone-call, .feather-phone-forwarded, .feather-phone-incoming, .feather-phone-missed, .feather-phone-off, .feather-phone-outgoing, .feather-phone, .feather-voice-mail {
  display: inline-block;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

/* line 11, ../sass/communication-icons.sass */
.feather-mail {
  background: url('/images/icons/communication/mail.svg');
  background-size: 16px 16px;
}

/* line 16, ../sass/communication-icons.sass */
.feather-message-circle {
  background: url('/images/icons/communication/message-circle.svg');
  background-size: 16px 16px;
}

/* line 21, ../sass/communication-icons.sass */
.feather-message-square {
  background: url('/images/icons/communication/message-square.svg');
  background-size: 16px 16px;
}

/* line 26, ../sass/communication-icons.sass */
.feather-phone-call {
  background: url('/images/icons/communication/phone-call.svg');
  background-size: 16px 16px;
}

/* line 31, ../sass/communication-icons.sass */
.feather-phone-forwarded {
  background: url('/images/icons/communication/phone-forwarded.svg');
  background-size: 16px 16px;
}

/* line 36, ../sass/communication-icons.sass */
.feather-phone-incoming {
  background: url('/images/icons/communication/phone-incoming.svg');
  background-size: 16px 16px;
}

/* line 41, ../sass/communication-icons.sass */
.feather-phone-missed {
  background: url('/images/icons/communication/phone-missed.svg');
  background-size: 16px 16px;
}

/* line 46, ../sass/communication-icons.sass */
.feather-phone-off {
  background: url('/images/icons/communication/phone-off.svg');
  background-size: 16px 16px;
}

/* line 51, ../sass/communication-icons.sass */
.feather-phone-outgoing {
  background: url('/images/icons/communication/phone-outgoing.svg');
  background-size: 16px 16px;
}

/* line 56, ../sass/communication-icons.sass */
.feather-phone {
  background: url('/images/icons/communication/phone.svg');
  background-size: 16px 16px;
}

/* line 61, ../sass/communication-icons.sass */
.feather-voice-mail {
  background: url('/images/icons/communication/voice-mail.svg');
  background-size: 16px 16px;
}
