/* line 3, ../sass/media-control-icons.sass */
.icon-size, .feather-fast-forward, .feather-pause-circle, .feather-play-circle, .feather-play, .feather-repeat, .feather-rewind, .feather-shuffle, .feather-skip-back, .feather-skip-forward, .feather-stop-circle, .feather-volume-1, .feather-volume-2, .feather-volume-x, .feather-volume {
  display: inline-block;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

/* line 10, ../sass/media-control-icons.sass */
.feather-fast-forward {
  background: url('/images/icons/media-controls/fast-forward.svg');
  background-size: 16px 16px;
}

/* line 15, ../sass/media-control-icons.sass */
.feather-pause-circle {
  background: url('/images/icons/media-controls/pause-circle.svg');
  background-size: 16px 16px;
}

/* line 20, ../sass/media-control-icons.sass */
.feather-play-circle {
  background: url('/images/icons/media-controls/play-circle.svg');
  background-size: 16px 16px;
}

/* line 25, ../sass/media-control-icons.sass */
.feather-play {
  background: url('/images/icons/media-controls/play.svg');
  background-size: 16px 16px;
}

/* line 30, ../sass/media-control-icons.sass */
.feather-repeat {
  background: url('/images/icons/media-controls/repeat.svg');
  background-size: 16px 16px;
}

/* line 35, ../sass/media-control-icons.sass */
.feather-rewind {
  background: url('/images/icons/media-controls/rewind.svg');
  background-size: 16px 16px;
}

/* line 40, ../sass/media-control-icons.sass */
.feather-shuffle {
  background: url('/images/icons/media-controls/shuffle.svg');
  background-size: 16px 16px;
}

/* line 45, ../sass/media-control-icons.sass */
.feather-skip-back {
  background: url('/images/icons/media-controls/skip-back.svg');
  background-size: 16px 16px;
}

/* line 50, ../sass/media-control-icons.sass */
.feather-skip-forward {
  background: url('/images/icons/media-controls/skip-forward.svg');
  background-size: 16px 16px;
}

/* line 55, ../sass/media-control-icons.sass */
.feather-stop-circle {
  background: url('/images/icons/media-controls/stop-circle.svg');
  background-size: 16px 16px;
}

/* line 60, ../sass/media-control-icons.sass */
.feather-volume-1 {
  background: url('/images/icons/media-controls/volume-1.svg');
  background-size: 16px 16px;
}

/* line 65, ../sass/media-control-icons.sass */
.feather-volume-2 {
  background: url('/images/icons/media-controls/volume-2.svg');
  background-size: 16px 16px;
}

/* line 70, ../sass/media-control-icons.sass */
.feather-volume-x {
  background: url('/images/icons/media-controls/volume-x.svg');
  background-size: 16px 16px;
}

/* line 75, ../sass/media-control-icons.sass */
.feather-volume {
  background: url('/images/icons/media-controls/volume.svg');
  background-size: 16px 16px;
}
